body {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf) no-repeat center fixed;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.choose-message {
  display: flex;
  flex-direction: column;
}
.message-choice-box {
  background-color: #ffffff;
}

.message-choices {
  color: #000000;
}

.display-message {
  background-color: #ffffff;
  color: #000000;
}
/* COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */
